body{
    background-color: antiquewhite;
}

header{
    background-image: url("../images/ks.jpeg");
    height: 600px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* Navbar */
nav{
    background-color: black;
}
.navbar-nav{
    margin-right: 35%;
}
.nav-item{
    padding-right: 30px;
}
.nav-link{
    font-size: 20px;
}

.video{

    margin-top: 25px;
}

/* İçerik */
#ilk-yazi{
    margin-top: 50px;
}
.yazi{
    background-color: darkgreen;
    border-radius: 25px;
    width: 90%;
    margin: 30px 0 0 5%;
    height: auto;
}
.yazi p{
    font-size: 20px;
    padding: 20px 35px;
    color: white;
    font-family: "Times New Roman", "sans-serif";
}

/* Footer */
.footer{
    background-color: black;
    height: 65px;
    margin-top: 20px;
}
.footer-yazi{
    float: right;
    padding-top: 25px;
    color: white;
    font-size: 15px;
}